<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/navigation.css" rel="stylesheet">
    <link href="/static/css/diy.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</head>
<body>

<div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" id="logo">配置管理系统
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                    <li class="active">
                        <a href="/">
                            <i class="glyphicon glyphicon-th-large"></i>
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            系统管理
                               <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="/sys/user" style="font-size: 13px"><i class="glyphicon glyphicon-user"></i>用户管理</a></li>
                            <li><a href="/sys/host" style="font-size: 13px"><i class="glyphicon glyphicon-th-list"></i>主机管理</a></li>
                            <li><a href="#" style="font-size: 13px"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a></li>
                            <li><a href="#" style="font-size: 13px"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                            <li><a href="#" style="font-size: 13px"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/job">
                            <i class="glyphicon glyphicon-credit-card"></i>
                            工单管理
                            <span class="label label-warning pull-right">5</span>
                        </a>
                    </li>

                    <li>
                        <a href="/deploy">
                            <i class="glyphicon glyphicon-globe"></i>
                            部署配置

                        </a>
                    </li>

                    <li>
                        <a href="./charts.html">
                            <i class="glyphicon glyphicon-calendar"></i>
                            图表统计
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-fire"></i>
                            关于系统
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-10">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

</body>
</html>