
<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登陆</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/login/"  method="post">
            {% csrf_token %}
        <h2 class="form-signin-heading">System</h2>
        <label for="inputUser" class="sr-only">Username</label>
        <input type="text" name="user" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
	{% if user == 1 %}
	    <div class="alert alert-warning" role="alert"><strong>请检查你的账号密码是否正确！</strong></div>
	{% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
      </form>
    </div>

  </body>
</html>

